<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
		<class name="com.example.qa.test.LoginPageTest"/>
		<class name="com.example.qa.test.DeshboardPageTest"/>
      <class name="com.example.qa.test.CreateNewAccountPageTest"/>
      <class name="com.example.qa.test.ManageAccountPageTest"/>
      <class name="com.example.qa.test.TransactionsPageTest"/>
      <class name="com.example.qa.test.DepositPageTest"/>
      <class name="com.example.qa.test.WithdrawPageTest"/>
      <class name="com.example.qa.test.TransferPageTest"/>
      <class name="com.example.qa.test.AnnouncementsPageTest"/>    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
